.ui-button {
    appearance: none;
    display: block;
    background: transparent;
    border: none;
    pointer-events: auto;
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1rem;

    &.-exit {
        width: 3rem;
        height: 3rem;
        margin-left: 2rem;

        &:before, &:after {
            content: '';
            width: 100%;
            position: absolute;
            height: 2px;
            background-color: white;
            top: calc(50% - 1px);
            left: 0;
            transform-origin: center center;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }

    &.-icon {
        width: 5rem;
        height: 5rem;
    }
}
