.ui-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $cell-height;
    background-color: black;
    z-index: 2;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1rem;
    pointer-events: none;

    > * {
        pointer-events: auto;
    }
}
