*, *:before, *:after {
  box-sizing: border-box;
  position: relative; }

body, html {
  height: 100%;
  width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  background: black;
  overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

.ui-launchpad {
  height: 100vmin;
  width: 100vmin;
  outline: 1px solid blue;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black; }

.ui-launchpad-button {
  position: absolute;
  border: 1px solid #555;
  border-radius: 2px;
  transform: scale(0.95); }
  .ui-launchpad-button.-score {
    border: 1px solid white; }
  .ui-launchpad-button.-selected {
    border-color: gold;
    border-width: 2px; }
  .ui-launchpad-button.-active {
    background-color: blue; }

.ui-keyboard {
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0; }
  .ui-keyboard > .ui-key {
    width: calc(100% / 8);
    height: 100%;
    position: absolute;
    border: 1px solid blue; }
    .ui-keyboard > .ui-key:nth-child(1) {
      left: calc((100% / 8) * 0); }
    .ui-keyboard > .ui-key:nth-child(2) {
      left: calc((100% / 8) * 0.5);
      height: 50%;
      top: 0;
      z-index: 1; }
    .ui-keyboard > .ui-key:nth-child(3) {
      left: calc((100% / 8) * 1); }
    .ui-keyboard > .ui-key:nth-child(4) {
      left: calc((100% / 8) * 1.5);
      height: 50%;
      top: 0;
      z-index: 1; }
    .ui-keyboard > .ui-key:nth-child(5) {
      left: calc((100% / 8) * 2); }
    .ui-keyboard > .ui-key:nth-child(6) {
      left: calc((100% / 8) * 3); }
    .ui-keyboard > .ui-key:nth-child(7) {
      left: calc((100% / 8) * 3.5);
      height: 50%;
      top: 0;
      z-index: 1; }
    .ui-keyboard > .ui-key:nth-child(8) {
      left: calc((100% / 8) * 4); }
    .ui-keyboard > .ui-key:nth-child(9) {
      left: calc((100% / 8) * 4.5);
      height: 50%;
      top: 0;
      z-index: 1; }
    .ui-keyboard > .ui-key:nth-child(10) {
      left: calc((100% / 8) * 5); }
    .ui-keyboard > .ui-key:nth-child(11) {
      left: calc((100% / 8) * 5.5);
      height: 50%;
      top: 0;
      z-index: 1; }
    .ui-keyboard > .ui-key:nth-child(12) {
      left: calc((100% / 8) * 6); }
    .ui-keyboard > .ui-key:nth-child(13) {
      left: calc((100% / 8) * 7); }

@keyframes score {
  from {
    opacity: 0;
    transform: scale(0.8); }
  to {
    opacity: 1;
    transform: scale(1); } }

.ui-score {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 10;
  animation: score 0.3s ease-in-out both; }
  .ui-score:before {
    content: '';
    position: absolute;
    width: calc(6.25vw - 2px);
    height: calc(6.66667vh - 2px);
    bottom: calc(100% + 1px);
    right: calc(100% + 1px);
    box-shadow: 6.25vw 6.66667vh 0 #333, 6.25vw 13.33333vh 0 #333, 6.25vw 20vh 0 #333, 6.25vw 26.66667vh 0 #333, 6.25vw 33.33333vh 0 #333, 6.25vw 40vh 0 #333, 6.25vw 46.66667vh 0 #333, 6.25vw 53.33333vh 0 #333, 6.25vw 60vh 0 #333, 6.25vw 66.66667vh 0 #333, 6.25vw 73.33333vh 0 #333, 6.25vw 80vh 0 #333, 6.25vw 86.66667vh 0 #333, 6.25vw 93.33333vh 0 #333, 6.25vw 100vh 0 #333, 12.5vw 6.66667vh 0 #333, 12.5vw 13.33333vh 0 #333, 12.5vw 20vh 0 #333, 12.5vw 26.66667vh 0 #333, 12.5vw 33.33333vh 0 #333, 12.5vw 40vh 0 #333, 12.5vw 46.66667vh 0 #333, 12.5vw 53.33333vh 0 #333, 12.5vw 60vh 0 #333, 12.5vw 66.66667vh 0 #333, 12.5vw 73.33333vh 0 #333, 12.5vw 80vh 0 #333, 12.5vw 86.66667vh 0 #333, 12.5vw 93.33333vh 0 #333, 12.5vw 100vh 0 #333, 18.75vw 6.66667vh 0 #333, 18.75vw 13.33333vh 0 #333, 18.75vw 20vh 0 #333, 18.75vw 26.66667vh 0 #333, 18.75vw 33.33333vh 0 #333, 18.75vw 40vh 0 #333, 18.75vw 46.66667vh 0 #333, 18.75vw 53.33333vh 0 #333, 18.75vw 60vh 0 #333, 18.75vw 66.66667vh 0 #333, 18.75vw 73.33333vh 0 #333, 18.75vw 80vh 0 #333, 18.75vw 86.66667vh 0 #333, 18.75vw 93.33333vh 0 #333, 18.75vw 100vh 0 #333, 25vw 6.66667vh 0 #333, 25vw 13.33333vh 0 #333, 25vw 20vh 0 #333, 25vw 26.66667vh 0 #333, 25vw 33.33333vh 0 #333, 25vw 40vh 0 #333, 25vw 46.66667vh 0 #333, 25vw 53.33333vh 0 #333, 25vw 60vh 0 #333, 25vw 66.66667vh 0 #333, 25vw 73.33333vh 0 #333, 25vw 80vh 0 #333, 25vw 86.66667vh 0 #333, 25vw 93.33333vh 0 #333, 25vw 100vh 0 #333, 31.25vw 6.66667vh 0 #333, 31.25vw 13.33333vh 0 #333, 31.25vw 20vh 0 #333, 31.25vw 26.66667vh 0 #333, 31.25vw 33.33333vh 0 #333, 31.25vw 40vh 0 #333, 31.25vw 46.66667vh 0 #333, 31.25vw 53.33333vh 0 #333, 31.25vw 60vh 0 #333, 31.25vw 66.66667vh 0 #333, 31.25vw 73.33333vh 0 #333, 31.25vw 80vh 0 #333, 31.25vw 86.66667vh 0 #333, 31.25vw 93.33333vh 0 #333, 31.25vw 100vh 0 #333, 37.5vw 6.66667vh 0 #333, 37.5vw 13.33333vh 0 #333, 37.5vw 20vh 0 #333, 37.5vw 26.66667vh 0 #333, 37.5vw 33.33333vh 0 #333, 37.5vw 40vh 0 #333, 37.5vw 46.66667vh 0 #333, 37.5vw 53.33333vh 0 #333, 37.5vw 60vh 0 #333, 37.5vw 66.66667vh 0 #333, 37.5vw 73.33333vh 0 #333, 37.5vw 80vh 0 #333, 37.5vw 86.66667vh 0 #333, 37.5vw 93.33333vh 0 #333, 37.5vw 100vh 0 #333, 43.75vw 6.66667vh 0 #333, 43.75vw 13.33333vh 0 #333, 43.75vw 20vh 0 #333, 43.75vw 26.66667vh 0 #333, 43.75vw 33.33333vh 0 #333, 43.75vw 40vh 0 #333, 43.75vw 46.66667vh 0 #333, 43.75vw 53.33333vh 0 #333, 43.75vw 60vh 0 #333, 43.75vw 66.66667vh 0 #333, 43.75vw 73.33333vh 0 #333, 43.75vw 80vh 0 #333, 43.75vw 86.66667vh 0 #333, 43.75vw 93.33333vh 0 #333, 43.75vw 100vh 0 #333, 50vw 6.66667vh 0 #333, 50vw 13.33333vh 0 #333, 50vw 20vh 0 #333, 50vw 26.66667vh 0 #333, 50vw 33.33333vh 0 #333, 50vw 40vh 0 #333, 50vw 46.66667vh 0 #333, 50vw 53.33333vh 0 #333, 50vw 60vh 0 #333, 50vw 66.66667vh 0 #333, 50vw 73.33333vh 0 #333, 50vw 80vh 0 #333, 50vw 86.66667vh 0 #333, 50vw 93.33333vh 0 #333, 50vw 100vh 0 #333, 56.25vw 6.66667vh 0 #333, 56.25vw 13.33333vh 0 #333, 56.25vw 20vh 0 #333, 56.25vw 26.66667vh 0 #333, 56.25vw 33.33333vh 0 #333, 56.25vw 40vh 0 #333, 56.25vw 46.66667vh 0 #333, 56.25vw 53.33333vh 0 #333, 56.25vw 60vh 0 #333, 56.25vw 66.66667vh 0 #333, 56.25vw 73.33333vh 0 #333, 56.25vw 80vh 0 #333, 56.25vw 86.66667vh 0 #333, 56.25vw 93.33333vh 0 #333, 56.25vw 100vh 0 #333, 62.5vw 6.66667vh 0 #333, 62.5vw 13.33333vh 0 #333, 62.5vw 20vh 0 #333, 62.5vw 26.66667vh 0 #333, 62.5vw 33.33333vh 0 #333, 62.5vw 40vh 0 #333, 62.5vw 46.66667vh 0 #333, 62.5vw 53.33333vh 0 #333, 62.5vw 60vh 0 #333, 62.5vw 66.66667vh 0 #333, 62.5vw 73.33333vh 0 #333, 62.5vw 80vh 0 #333, 62.5vw 86.66667vh 0 #333, 62.5vw 93.33333vh 0 #333, 62.5vw 100vh 0 #333, 68.75vw 6.66667vh 0 #333, 68.75vw 13.33333vh 0 #333, 68.75vw 20vh 0 #333, 68.75vw 26.66667vh 0 #333, 68.75vw 33.33333vh 0 #333, 68.75vw 40vh 0 #333, 68.75vw 46.66667vh 0 #333, 68.75vw 53.33333vh 0 #333, 68.75vw 60vh 0 #333, 68.75vw 66.66667vh 0 #333, 68.75vw 73.33333vh 0 #333, 68.75vw 80vh 0 #333, 68.75vw 86.66667vh 0 #333, 68.75vw 93.33333vh 0 #333, 68.75vw 100vh 0 #333, 75vw 6.66667vh 0 #333, 75vw 13.33333vh 0 #333, 75vw 20vh 0 #333, 75vw 26.66667vh 0 #333, 75vw 33.33333vh 0 #333, 75vw 40vh 0 #333, 75vw 46.66667vh 0 #333, 75vw 53.33333vh 0 #333, 75vw 60vh 0 #333, 75vw 66.66667vh 0 #333, 75vw 73.33333vh 0 #333, 75vw 80vh 0 #333, 75vw 86.66667vh 0 #333, 75vw 93.33333vh 0 #333, 75vw 100vh 0 #333, 81.25vw 6.66667vh 0 #333, 81.25vw 13.33333vh 0 #333, 81.25vw 20vh 0 #333, 81.25vw 26.66667vh 0 #333, 81.25vw 33.33333vh 0 #333, 81.25vw 40vh 0 #333, 81.25vw 46.66667vh 0 #333, 81.25vw 53.33333vh 0 #333, 81.25vw 60vh 0 #333, 81.25vw 66.66667vh 0 #333, 81.25vw 73.33333vh 0 #333, 81.25vw 80vh 0 #333, 81.25vw 86.66667vh 0 #333, 81.25vw 93.33333vh 0 #333, 81.25vw 100vh 0 #333, 87.5vw 6.66667vh 0 #333, 87.5vw 13.33333vh 0 #333, 87.5vw 20vh 0 #333, 87.5vw 26.66667vh 0 #333, 87.5vw 33.33333vh 0 #333, 87.5vw 40vh 0 #333, 87.5vw 46.66667vh 0 #333, 87.5vw 53.33333vh 0 #333, 87.5vw 60vh 0 #333, 87.5vw 66.66667vh 0 #333, 87.5vw 73.33333vh 0 #333, 87.5vw 80vh 0 #333, 87.5vw 86.66667vh 0 #333, 87.5vw 93.33333vh 0 #333, 87.5vw 100vh 0 #333, 93.75vw 6.66667vh 0 #333, 93.75vw 13.33333vh 0 #333, 93.75vw 20vh 0 #333, 93.75vw 26.66667vh 0 #333, 93.75vw 33.33333vh 0 #333, 93.75vw 40vh 0 #333, 93.75vw 46.66667vh 0 #333, 93.75vw 53.33333vh 0 #333, 93.75vw 60vh 0 #333, 93.75vw 66.66667vh 0 #333, 93.75vw 73.33333vh 0 #333, 93.75vw 80vh 0 #333, 93.75vw 86.66667vh 0 #333, 93.75vw 93.33333vh 0 #333, 93.75vw 100vh 0 #333, 100vw 6.66667vh 0 #333, 100vw 13.33333vh 0 #333, 100vw 20vh 0 #333, 100vw 26.66667vh 0 #333, 100vw 33.33333vh 0 #333, 100vw 40vh 0 #333, 100vw 46.66667vh 0 #333, 100vw 53.33333vh 0 #333, 100vw 60vh 0 #333, 100vw 66.66667vh 0 #333, 100vw 73.33333vh 0 #333, 100vw 80vh 0 #333, 100vw 86.66667vh 0 #333, 100vw 93.33333vh 0 #333, 100vw 100vh 0 #333; }
  .ui-score > .ui-aside {
    background-color: black;
    height: 100%;
    position: absolute;
    z-index: 3; }

.ui-note {
  height: 6.66667vh;
  background: #7EF58D;
  border: 1px solid black;
  border-radius: 2px;
  position: absolute; }
  .ui-note.-temporary {
    opacity: 0.5; }

.ui-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6.66667vh;
  background-color: black;
  z-index: 2;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1rem;
  pointer-events: none; }
  .ui-header > * {
    pointer-events: auto; }

.ui-button {
  appearance: none;
  display: block;
  background: transparent;
  border: none;
  pointer-events: auto;
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 1rem; }
  .ui-button.-exit {
    width: 3rem;
    height: 3rem;
    margin-left: 2rem; }
    .ui-button.-exit:before, .ui-button.-exit:after {
      content: '';
      width: 100%;
      position: absolute;
      height: 2px;
      background-color: white;
      top: calc(50% - 1px);
      left: 0;
      transform-origin: center center; }
    .ui-button.-exit:before {
      transform: rotate(45deg); }
    .ui-button.-exit:after {
      transform: rotate(-45deg); }
  .ui-button.-icon {
    width: 5rem;
    height: 5rem; }

#root {
  height: 100%; }

.ui-app {
  height: 100%; }

.input-range {
  margin: 3rem 0; }

.ui-aside {
  width: calc(100vmax - 100vmin);
  left: 100vmin;
  height: 100%;
  position: absolute;
  padding: 1rem;
  color: white; }
