*, *:before, *:after {
    box-sizing: border-box;
    position: relative;
}

body, html {
    height: 100%;
    width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
}

@import 'components/launchpad';

#root {
    height: 100%;
}
.ui-app {
    height: 100%;
}
